<div data-refresh-content-target="content" class="container">
    <div class="phrasebody">
      <% @phrases.each do |phrase| %>
        <div class="row">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody2">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
     <div class="phrasebody3">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody4">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody5">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody6">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
     <div class="phrasebody7">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody8">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody9">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody10">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody11">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody12">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody13">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
    <div class="phrasebody14">
      <% @phrases.each do |phrase| %>
        <div class="column">
          <%= phrase.title %>
        </div>
      <% end %>
    </div>
</div>
<script>
var ul = document.querySelector('.phrasebody2');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody3');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody4');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody5');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody6');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody7');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody8');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody9');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody10');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody11');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody12');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody13');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
<script>
var ul = document.querySelector('.phrasebody14');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>
