<div class="grid6-wrapper">

  <%# First column %>
  <div id="grid6-first">
    <% ads[0].each do |ad| %>

        <div class="grid6-adbody">
          <p><%= ad.content %></p>
        </div>

    <% end %>
  </div>

  <%# Second column %>
  <div id="grid6-second">
    <% ads[1].each do |ad| %>

        <div class="grid6-adbody">
          <p><%= ad.content %></p>
        </div>

    <% end %>
  </div>

  <%# Third column %>
  <div id="grid6-third">
    <% ads[2].each do |ad| %>

        <div class="grid6-adbody">
          <p><%= ad.content %></p>
        </div>

    <% end %>
  </div>

  <%# Fourth column %>
  <div id="grid6-fourth">
    <% ads[3].each do |ad| %>

        <div class="grid6-adbody">
          <p><%= ad.content %></p>
        </div>

    <% end %>
  </div>

  <%# Fifth column %>
  <div id="grid6-fifth">
    <% ads[4].each do |ad| %>

        <div class="grid6-adbody">
          <p><%= ad.content %></p>
        </div>

    <% end %>
  </div>

  <%# Sixth column %>
  <div id="grid6-sixth">
    <% ads[5].each do |ad| %>

        <div class="grid6-adbody">
          <p><%= ad.content %></p>
        </div>

    <% end %>
  </div>

</div>
